In [2]:
import pandas as pd
import numpy as np

features = pd.read_csv("../total_data.csv")

## Add target variable(s)
We want a column representing the "future hunger score" for each row of conflict/weather/food price data. I will add columns representing this "future hunger score" for 1, 2, and 3 months in advance.

In [163]:
df = features.drop(columns=['Unnamed: 0'])

offset_dict = {
    'CS_in_1_month': 1,
    'CS_in_2_months': 2,
    'CS_in_3_months': 3
}

# Add new columns for target variables
for key in offset_dict.keys():
    df[key] = np.nan

def get_CS_offsets(row, group):
    for key in offset_dict.keys():
        offset = offset_dict[key]
        future_month = (row['month'] + offset) % 12
        future_year = row['year'] + ((row['month'] + offset - 1) // 12)
        future_row = group[(group['month'] == future_month) & (group['year'] == future_year)]
        future_cs = future_row['CS'].mean()
        row[key] = future_cs
    return row

def apply_to_groups(group):
    print('Getting CS offsets for', group.loc[0]['ADMIN0']+',', group.loc[0]['ADMIN1'])
    group = group.transform(get_CS_offsets, axis=1, group=group)
    group = group.sort_values(by=['year', 'month'])
    return group

g = df.groupby(['ADMIN0', 'ADMIN1'])
offset_df = g.apply(apply_to_groups)

Getting CS offsets for Ethiopia, Addis Ababa
Getting CS offsets for Ethiopia, Afar
Getting CS offsets for Ethiopia, Amhara
Getting CS offsets for Ethiopia, Benshangul Gumuz
Getting CS offsets for Ethiopia, Dire Dawa
Getting CS offsets for Ethiopia, Gambela
Getting CS offsets for Ethiopia, Harari
Getting CS offsets for Ethiopia, Oromia
Getting CS offsets for Ethiopia, SNNPR
Getting CS offsets for Ethiopia, Somali
Getting CS offsets for Ethiopia, Tigray
Getting CS offsets for Kenya, Baringo
Getting CS offsets for Kenya, Bomet
Getting CS offsets for Kenya, Bungoma
Getting CS offsets for Kenya, Busia
Getting CS offsets for Kenya, Coast
Getting CS offsets for Kenya, Eastern
Getting CS offsets for Kenya, Elgeyo-Marakwet
Getting CS offsets for Kenya, Embu
Getting CS offsets for Kenya, Garissa
Getting CS offsets for Kenya, Homa Bay
Getting CS offsets for Kenya, Isiolo
Getting CS offsets for Kenya, Kajiado
Getting CS offsets for Kenya, Kakamega
Getting CS offsets for Kenya, Kericho
Getting CS offsets for Kenya, Kiambu
Getting CS offsets for Kenya, Kilifi
Getting CS offsets for Kenya, Kirinyaga
Getting CS offsets for Kenya, Kisii
Getting CS offsets for Kenya, Kisumu
Getting CS offsets for Kenya, Kitui
Getting CS offsets for Kenya, Kwale
Getting CS offsets for Kenya, Laikipia
Getting CS offsets for Kenya, Lamu
Getting CS offsets for Kenya, Machakos
Getting CS offsets for Kenya, Makueni
Getting CS offsets for Kenya, Mandera
Getting CS offsets for Kenya, Marsabit
Getting CS offsets for Kenya, Meru
Getting CS offsets for Kenya, Migori
Getting CS offsets for Kenya, Mombasa
Getting CS offsets for Kenya, Murang'a
Getting CS offsets for Kenya, Nairobi
Getting CS offsets for Kenya, Nakuru
Getting CS offsets for Kenya, Nandi
Getting CS offsets for Kenya, Narok
Getting CS offsets for Kenya, North Eastern
Getting CS offsets for Kenya, Nyamira
Getting CS offsets for Kenya, Nyandarua
Getting CS offsets for Kenya, Nyeri
Getting CS offsets for Kenya, Rift Valley
Getting CS offsets for Kenya, Samburu
Getting CS offsets for Kenya, Siaya
Getting CS offsets for Kenya, Taita Taveta
Getting CS offsets for Kenya, Tana River
Getting CS offsets for Kenya, Tharaka Nithi
Getting CS offsets for Kenya, Trans Nzoia
Getting CS offsets for Kenya, Turkana
Getting CS offsets for Kenya, Uasin Gishu
Getting CS offsets for Kenya, Vihiga
Getting CS offsets for Kenya, Wajir
Getting CS offsets for Kenya, West Pokot
Getting CS offsets for Somalia, Awdal
Getting CS offsets for Somalia, Bakool
Getting CS offsets for Somalia, Banaadir
Getting CS offsets for Somalia, Bari
Getting CS offsets for Somalia, Bay
Getting CS offsets for Somalia, Galgaduud
Getting CS offsets for Somalia, Gedo
Getting CS offsets for Somalia, Hiiraan
Getting CS offsets for Somalia, Lower Juba
Getting CS offsets for Somalia, Lower Shabelle
Getting CS offsets for Somalia, Middle Juba
Getting CS offsets for Somalia, Middle Shabelle
Getting CS offsets for Somalia, Mudug
Getting CS offsets for Somalia, Nugaal
Getting CS offsets for Somalia, Sanaag
Getting CS offsets for Somalia, Sool
Getting CS offsets for Somalia, Togdheer
Getting CS offsets for Somalia, Woqooyi Galbeed
Getting CS offsets for South Sudan, Central Equatoria
Getting CS offsets for South Sudan, Eastern Equatoria
Getting CS offsets for South Sudan, Jonglei
Getting CS offsets for South Sudan, Lakes
Getting CS offsets for South Sudan, Northern Bahr el Ghazal
Getting CS offsets for South Sudan, Unity
Getting CS offsets for South Sudan, Upper Nile
Getting CS offsets for South Sudan, Warrap
Getting CS offsets for South Sudan, Western Bahr el Ghazal
Getting CS offsets for South Sudan, Western Equatoria
Getting CS offsets for Sudan, Blue Nile
Getting CS offsets for Sudan, Central Darfur
Getting CS offsets for Sudan, East Darfur
Getting CS offsets for Sudan, Gedaref
Getting CS offsets for Sudan, Gezira
Getting CS offsets for Sudan, Kassala
Getting CS offsets for Sudan, Khartoum
Getting CS offsets for Sudan, North Darfur
Getting CS offsets for Sudan, North Kordofan
Getting CS offsets for Sudan, Northern
Getting CS offsets for Sudan, Red Sea
Getting CS offsets for Sudan, River Nile
Getting CS offsets for Sudan, Sinnar
Getting CS offsets for Sudan, South Darfur
Getting CS offsets for Sudan, South Kordofan
Getting CS offsets for Sudan, West Darfur
Getting CS offsets for Sudan, West Kordofan
Getting CS offsets for Sudan, White Nile
Getting CS offsets for Tanzania, Arusha
Getting CS offsets for Tanzania, Dar es Salaam
Getting CS offsets for Tanzania, Dodoma
Getting CS offsets for Tanzania, Geita
Getting CS offsets for Tanzania, Iringa
Getting CS offsets for Tanzania, Kagera
Getting CS offsets for Tanzania, Katavi
Getting CS offsets for Tanzania, Kigoma
Getting CS offsets for Tanzania, Kilimanjaro
Getting CS offsets for Tanzania, Lindi
Getting CS offsets for Tanzania, Manyara
Getting CS offsets for Tanzania, Mara
Getting CS offsets for Tanzania, Mbeya
Getting CS offsets for Tanzania, Morogoro
Getting CS offsets for Tanzania, Mtwara
Getting CS offsets for Tanzania, Mwanza
Getting CS offsets for Tanzania, Njombe
Getting CS offsets for Tanzania, Pemba North
Getting CS offsets for Tanzania, Pemba South
Getting CS offsets for Tanzania, Pwani
Getting CS offsets for Tanzania, Rukwa
Getting CS offsets for Tanzania, Ruvuma
Getting CS offsets for Tanzania, Shinyanga
Getting CS offsets for Tanzania, Simiyu
Getting CS offsets for Tanzania, Singida
Getting CS offsets for Tanzania, Tabora
Getting CS offsets for Tanzania, Tanga
Getting CS offsets for Tanzania, Zanzibar Central/South
Getting CS offsets for Tanzania, Zanzibar North
Getting CS offsets for Tanzania, Zanzibar Urban/West
Getting CS offsets for Uganda, Abim
Getting CS offsets for Uganda, Amudat
Getting CS offsets for Uganda, Central
Getting CS offsets for Uganda, Eastern
Getting CS offsets for Uganda, Gulu
Getting CS offsets for Uganda, Iganga
Getting CS offsets for Uganda, Jinja
Getting CS offsets for Uganda, Kaabong
Getting CS offsets for Uganda, Kampala
Getting CS offsets for Uganda, Kotido
Getting CS offsets for Uganda, Kween
Getting CS offsets for Uganda, Kyankwanzi
Getting CS offsets for Uganda, Lira
Getting CS offsets for Uganda, Masindi
Getting CS offsets for Uganda, Mbale
Getting CS offsets for Uganda, Mbarara
Getting CS offsets for Uganda, Nakapiripirit
Getting CS offsets for Uganda, Northern
Getting CS offsets for Uganda, Soroti
Getting CS offsets for Uganda, Western

In [186]:
offset_df.to_csv('total_data_with_targets.csv')
offset_df.head(15)

                             ADMIN0       ADMIN1 month  year   CS  tmin_mm  \
ADMIN0   ADMIN1
Ethiopia Addis Ababa 4312  Ethiopia  Addis Ababa     1  2009  NaN  90.8182
                     4313  Ethiopia  Addis Ababa     2  2009  NaN   99.619
                     4314  Ethiopia  Addis Ababa     3  2009  NaN      112
                     4315  Ethiopia  Addis Ababa     4  2009  NaN      114
                     4316  Ethiopia  Addis Ababa     5  2009  NaN    117.4
                     4317  Ethiopia  Addis Ababa     6  2009  NaN  120.364
                     2     Ethiopia  Addis Ababa     7  2009    1  120.294
                     4318  Ethiopia  Addis Ababa     8  2009  NaN   121.25
                     4319  Ethiopia  Addis Ababa     9  2009  NaN  111.375
                     3     Ethiopia  Addis Ababa    10  2009    1  93.5714
                     4320  Ethiopia  Addis Ababa    11  2009  NaN  75.2857
                     4321  Ethiopia  Addis Ababa    12  2009  NaN  104.833
                     4     Ethiopia  Addis Ababa     1  2010    1       92
                     4322  Ethiopia  Addis Ababa     2  2010  NaN    106.2
                     4323  Ethiopia  Addis Ababa     3  2010  NaN      112

                           tmax_mm  tavg_mm  prcp_mm battle_cnt  ...  \
ADMIN0   ADMIN1                                                  ...
Ethiopia Addis Ababa 4312  237.667  160.667    42.25        NaN  ...
                     4313  252.118  178.808      NaN        NaN  ...
                     4314    277.6  191.421      NaN        NaN  ...
                     4315    253.5    187.4  3.33333          0  ...
                     4316   268.75  210.714       41        NaN  ...
                     4317  263.167  186.545     28.4        NaN  ...
                     2     216.643    155.7  88.4211        NaN  ...
                     4318    209.6  158.895  64.6471        NaN  ...
                     4319  226.333  168.286   68.375        NaN  ...
                     3     225.333  162.826    97.25          0  ...
                     4320  234.375   161.87      NaN        NaN  ...
                     4321      228  160.217      114        NaN  ...
                     4      226.25    155.8      NaN        NaN  ...
                     4322      272  184.833        5        NaN  ...
                     4323      237  172.467     46.2        NaN  ...

                          battle_fatal protest_fatal riot_fatal  \
ADMIN0   ADMIN1
Ethiopia Addis Ababa 4312          NaN           NaN        NaN
                     4313          NaN           NaN        NaN
                     4314          NaN           NaN        NaN
                     4315            0             0          0
                     4316          NaN           NaN        NaN
                     4317          NaN           NaN        NaN
                     2             NaN           NaN        NaN
                     4318          NaN           NaN        NaN
                     4319          NaN           NaN        NaN
                     3               0             0          0
                     4320          NaN           NaN        NaN
                     4321          NaN           NaN        NaN
                     4             NaN           NaN        NaN
                     4322          NaN           NaN        NaN
                     4323          NaN           NaN        NaN

                          explosion_fatal violence_on_civs_fatal Retail  \
ADMIN0   ADMIN1
Ethiopia Addis Ababa 4312             NaN                    NaN    NaN
                     4313             NaN                    NaN    NaN
                     4314             NaN                    NaN    NaN
                     4315               0                      0    NaN
                     4316             NaN                    NaN    NaN
                     4317             NaN                    NaN    NaN
                     2                NaN                    NaN    NaN
                     4318             NaN                    NaN    NaN
                     4319             NaN                    NaN    NaN
                     3                  0                      0    NaN
                     4320             NaN                    NaN    NaN
                     4321             NaN                    NaN    NaN
                     4                NaN                    NaN    NaN
                     4322             NaN                    NaN    NaN
                     4323             NaN                    NaN    NaN

                                 pop CS_in_1_month CS_in_2_months  \
ADMIN0   ADMIN1
Ethiopia Addis Ababa 4312  3.173e+06           NaN            NaN
                     4313  3.173e+06           NaN            NaN
                     4314  3.173e+06           NaN            NaN
                     4315  3.173e+06           NaN            NaN
                     4316  3.173e+06           NaN              1
                     4317  3.173e+06             1            NaN
                     2     3.173e+06           NaN            NaN
                     4318  3.173e+06           NaN              1
                     4319  3.173e+06             1            NaN
                     3     3.173e+06           NaN            NaN
                     4320  3.173e+06           NaN              1
                     4321  3.173e+06             1            NaN
                     4     3.258e+06           NaN            NaN
                     4322  3.258e+06           NaN              1
                     4323  3.258e+06             1            NaN

                          CS_in_3_months
ADMIN0   ADMIN1
Ethiopia Addis Ababa 4312            NaN
                     4313            NaN
                     4314            NaN
                     4315              1
                     4316            NaN
                     4317            NaN
                     2                 1
                     4318            NaN
                     4319            NaN
                     3                 1
                     4320            NaN
                     4321            NaN
                     4                 1
                     4322            NaN
                     4323            NaN

[15 rows x 24 columns]